:root {
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-2: hsl(0, 0%, 98%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-blue: hsl(195, 100%, 50%);
  --ff-inter: 'Inter', sans-serif;
  --fs-1: 24px; --fs-2: 18px; --fs-4: 16px; --fs-5: 15px; --fs-6: 14px; --fs-7: 13px; --fs-8: 11px;
  --fw-300: 300; --fw-500: 500; --fw-600: 600;
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
  --transition-1: 0.25s ease;
}

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; }
li { list-style: none; }
img, ion-icon, a, button, time, input, textarea { display: block; }
button { font: inherit; background: none; border: none; text-align: left; cursor: pointer; }
input, textarea { font: inherit; width: 100%; }
ion-icon { pointer-events: none; }
address { font-style: normal; }
html { font-family: var(--ff-inter); font-size: 10px; scroll-behavior: smooth; }
body { background: var(--smoky-black); color: var(--light-gray); font-size: 1.6rem; line-height: 1.6; }

.separator { width: 100%; height: 1px; background: var(--jet); margin: 16px 0; }
.icon-box { display: flex; justify-content: center; align-items: center; width: 30px; height: 30px; border-radius: 8px; background: var(--light-blue); color: var(--eerie-black-1); font-size: 16px; }
.article-title { font-size: var(--fs-1); font-weight: var(--fw-600); padding-bottom: 15px; border-bottom: 1px solid var(--jet); margin-bottom: 30px; }
.h2, .h3, .h4, .h5 { color: var(--white-2); }
.h2 { font-size: var(--fs-1); } .h3 { font-size: var(--fs-2); } .h4 { font-size: var(--fs-4); } .h5 { font-size: var(--fs-6); }

main { display: flex; flex-direction: column; gap: 15px; padding: 15px; }

.sidebar { background: var(--eerie-black-2); border: 1px solid var(--jet); border-radius: 20px; padding: 15px; box-shadow: var(--shadow-1); z-index: 1; }
.sidebar-info { display: flex; align-items: center; gap: 15px; margin-bottom: 15px; }
.avatar-box { border-radius: 15px; overflow: hidden; }
.info-content .name { font-size: 1.8rem; font-weight: var(--fw-600); color: var(--white-2); margin-bottom: 2px; }
.info-content .title { background: var(--onyx); color: var(--light-gray); font-size: var(--fs-8); font-weight: var(--fw-300); padding: 5px 12px; border-radius: 8px; }
.contacts-list { display: grid; grid-template-columns: 1fr; gap: 16px; }
.contact-item { display: flex; align-items: center; gap: 16px; }
.contact-info { max-width: calc(100% - 46px); width: calc(100% - 46px); }
.contact-title { color: var(--light-gray-70); font-size: var(--fs-8); text-transform: uppercase; margin-bottom: 2px; }
.contact-link, address { color: var(--white-2); font-size: var(--fs-7); transition: var(--transition-1); }
.contact-link:hover { color: var(--light-blue); }
.social-list { display: flex; justify-content: flex-start; align-items: center; gap: 15px; padding-bottom: 5px; }
.social-item .social-link { color: var(--light-gray-70); font-size: 18px; transition: var(--transition-1); }
.social-item .social-link:hover { color: var(--light-gray); }

.main-content { background: var(--eerie-black-2); border: 1px solid var(--jet); border-radius: 20px; box-shadow: var(--shadow-1); position: relative; }
.navbar { background: var(--onyx); padding: 0 20px; border-bottom: 1px solid var(--jet); transition: border-radius .2s ease; }
.navbar-top { border-radius: 20px 20px 0 0; }
.navbar-list { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 0 10px; gap: 20px; }
.navbar-link { color: var(--light-gray); font-size: var(--fs-6); padding: 20px 5px; transition: var(--transition-1); }
.navbar-link:hover, .navbar-link.active { color: var(--light-blue); }

#scroll-watcher { height: 1px; position: absolute; top: 0; }
.content-wrapper { padding: 15px; }
.section { margin-bottom: 30px; }
.about-text { color: var(--light-gray-70); font-size: var(--fs-5); font-weight: var(--fw-300); line-height: 1.6; }
.about-text p { margin-bottom: 15px; }
.service { margin-top: 35px; }
.service-title { margin-bottom: 20px; }
.service-list { display: grid; grid-template-columns: 1fr; gap: 20px; }
.service-item { position: relative; background: var(--onyx); padding: 20px; border-radius: 14px; box-shadow: var(--shadow-2); z-index: 1; }
.service-icon-box { margin-bottom: 10px; }
.service-item-title { margin-bottom: 7px; }
.service-item-text { color: var(--light-gray-70); font-size: var(--fs-6); font-weight: var(--fw-300); line-height: 1.6; }

.timeline { margin-bottom: 30px; }
.timeline .title-wrapper { display: flex; align-items: center; gap: 15px; margin-bottom: 25px; }
.timeline-list { font-size: var(--fs-6); margin-left: 45px; }
.timeline-item { position: relative; }
.timeline-item:not(:last-child)::before { content: ""; position: absolute; top: -25px; left: -30px; width: 1px; height: calc(100% + 50px); background: var(--jet); }
.timeline-item-title { font-size: var(--fs-4); line-height: 1.3; margin-bottom: 7px; }
.timeline-list span { color: var(--vegas-gold); font-weight: var(--fw-400); font-size: var(--fs-7); line-height: 1.4; }
.timeline-item p { color: var(--light-gray-70); font-weight: var(--fw-300); line-height: 1.6; }
.skill-list { background: var(--onyx); padding: 20px; border-radius: 14px; box-shadow: var(--shadow-2); }
.skills-title { margin-bottom: 20px; }
.skills-item:not(:last-child) { margin-bottom: 15px; }
.skill .title-wrapper { display: flex; align-items: center; gap: 10px; margin-bottom: 8px; }
.skill-progress-bg { background: var(--jet); width: 100%; height: 8px; border-radius: 10px; }
.skill-progress-fill { background: var(--light-blue); height: 100%; border-radius: inherit; }

.project-list { display: grid; grid-template-columns: 1fr; gap: 30px; }
.project-item > a { position: relative; }
.project-img { position: relative; width: 100%; height: 200px; border-radius: 16px; overflow: hidden; margin-bottom: 15px; }
.project-img img { width: 100%; height: 100%; object-fit: cover; transition: transform var(--transition-1); }
.project-item > a:hover .project-img img { transform: scale(1.1); }
.project-item-icon-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.8); background: var(--jet); color: var(--light-blue); font-size: 20px; padding: 18px; border-radius: 12px; opacity: 0; transition: var(--transition-1); }
.project-item > a:hover .project-item-icon-box { opacity: 1; transform: translate(-50%, -50%) scale(1); }
.project-title { color: var(--white-2); font-size: var(--fs-5); margin-bottom: 7px; }
.project-category { color: var(--light-gray-70); font-size: var(--fs-6); font-weight: var(--fw-300); }

.contact-form { margin-top: 30px; }
.form-title { margin-bottom: 20px; }
.input-wrapper { display: grid; grid-template-columns: 1fr; gap: 25px; margin-bottom: 25px; }
.form-input { color: var(--white-2); font-size: var(--fs-6); padding: 13px 20px; background: var(--onyx); border: 1px solid var(--jet); border-radius: 14px; outline: none; }
.form-input:focus { border-color: var(--light-blue); }
textarea.form-input { min-height: 100px; height: 120px; max-height: 200px; resize: vertical; margin-bottom: 25px; }
.form-btn { background: var(--onyx); color: var(--light-blue); font-size: var(--fs-6); display: flex; align-items: center; gap: 10px; padding: 13px 20px; border-radius: 14px; text-transform: capitalize; transition: var(--transition-1); }
.form-btn:hover { background: var(--jet); }
.form-btn:disabled { opacity: 0.7; cursor: not-allowed; }

@media (min-width: 580px) {
  main { padding: 30px; gap: 30px;}
  .sidebar, .main-content { padding: 0; }
  .sidebar > *, .content-wrapper { padding: 30px; }
  .service-list, .project-list { grid-template-columns: 1fr 1fr; }
  .input-wrapper { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 1024px) {
  main { display: flex; flex-direction: row; align-items: flex-start; max-width: 1200px; margin: auto; }
  .sidebar { position: sticky; top: 30px; height: calc(100vh - 60px); }
  .main-content { min-width: 0; width: 100%; }
  .navbar { position: sticky; top: 0; z-index: 3; }
  .navbar-list { gap: 30px; }
  .section { scroll-margin-top: 80px; }
}

@media (min-width: 1250px) {
  .sidebar { width: 320px; }
}